<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gayu project- Rewiew page</title>
        <link rel="stylesheet" href="">
        <link href="" rel="">
    </head>
    <body>
        <!--hero section-->
        <selction class = "hero review">
            <div class = "hero review - overlay"></div>
            <div class = "hero review - content">
                <i class="brand review"></i>
            </div>
            <h2 class="hero review-title"></h2>
            place your reviews here !


        </selction>




    </body>



</html>